@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Chore

<h1>Add Chore</h1>

<form method="post">

    <label asp-for="ChoreName" name="ChoreName">Short Description: </label>
    <input type="text" name="ChoreName" asp-for="ChoreName" required/>

    <label asp-for="ChoreDescription" name="ChoreDescription">Notes: </label>
    <input asp-for="ChoreDescription" name="ChoreDescription" type="text"/>

    <label asp-for="UnitId" name="unitId">Unit #</label>
    <input type="number" name="unitId" asp-for="UnitId" />


    <label asp-for="ChorePriority" name="priority">Priority: </label>
    <select asp-for="ChorePriority" name="priority">
        <option value="High">High</option>
        <option value="Medium">Medium</option>
        <option value="Low">Low</option>
    </select>

    <label asp-for="FinishByDate" name="FinishByDate">Finish By: </label>
    <input type="date" name="FinishByDate" asp-for="FinishByDate" />

    <label asp-for="ManagerId">Assigned To: </label>
    <select asp-for="ManagerId">
        <option value="1">Matt</option>
        <option value="2">Walter</option>
        <option value="3">Nuwer</option>
    </select>

    <button type="submit">Save</button>
</form>