@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model UnitDeepClean

<h1>Add Deep Clean</h1>

<form method="post">
    <label asp-for="UnitId">Unit #</label>
    <input type="number" name="unitId" asp-for="UnitId" required />

    <label asp-for="DeepCleanDate">Deep Clean Date:</label>
    <input type="date" id="deepCleanDate" asp-for="DeepCleanDate" name="deepCleanDate" required />

    <button type="submit">Save</button>
</form>
